{% extends 'education_modules/base.html' %}
{% block content %}
    <div class="col-3"></div>
    <div class="col-6">
        <div class="card bg-dark"> <!-- Use text-light for white text -->
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">Вход</button>
                </form>
                <p class="mt-3 text-white text-center">Еще нет аккаунта? <a href="{% url 'users:register' %}" class="text-success">Зарегистрируйтесь</a></p>
            </div>
        </div>
    </div>
{% endblock %}
