{% extends 'education_modules/base.html' %}

{% block content %}
    <div class="col-3"></div>
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                Мой профиль
            </div>
            <div class="card-body text-center"> {# Center the content #}
                <div style="position: relative; display: inline-block;">
                    <div style="border-radius: 50%; overflow: hidden; width: 150px; height: 150px; position: relative;">
                        <!-- Add your avatar image here -->
                        <img src="{{ avatar.url }}" alt="Avatar" style="width: 100%; height: 100%; object-fit: cover;">
                    </div>
                </div>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">Сохранить</button>
                </form>
            </div>
            <div class="card-footer text-center">
                <a href="{% url 'users:generate_new_password' %}" class="btn btn-danger">Сгенирировать пароль</a>
            </div>
        </div>
    </div>
{% endblock %}